In [12]:

import pandas as pd
import numpy as np
import requests
import tweepy
import os
import time
import json
import re
import seaborn as sns
import matplotlib.pyplot as plt 

%matplotlib inline

In [2]:
#storing the url into a variable

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

# creating a requests object with the url attribute and storing it into a variable 
response = requests.get(url)

filename = url.split('/')[-1]

# getting the output file in binary format and writing it
with open(filename, 'wb') as out_file:
    out_file.write(response.content)
    
print('Download complete!')

Download complete!

In [3]:
df_list = []
# Opening the raw json data stored in a txt
with open('tweet-json.txt', 'r', encoding='utf8') as tweets:
    
    for line in tweets:

        # Deserialising the lines of the document
        tweet_line = json.loads(line)
        # Capturing the columns/series into a dictionary, then appending it in a list
        df_list.append({'tweet_id': tweet_line['id'],
                        'favorite_count': tweet_line['favorite_count'],
                        'retweet_count': tweet_line['retweet_count']})
                        'user_followers',
                        'user_favourites',
                        'date_time'
        
# Creating a dataframe using the desired elements from the "df_list" list
wrd_tweets = pd.DataFrame(df_list)
# Testing 
wrd_tweets.head()

   favorite_count  retweet_count            tweet_id
0           39467           8853  892420643555336193
1           33819           6514  892177421306343426
2           25461           4328  891815181378084864
3           42908           8964  891689557279858688
4           41048           9774  891327558926688256

In [4]:
#Checking for null values
wrd_tweets.isna().sum()

favorite_count    0
retweet_count     0
tweet_id          0
dtype: int64

In [5]:
wrd_tweets.duplicated().sum()

0

In [6]:
tweet_imgs = pd.read_csv('image-predictions.tsv', sep='\t')

By acquaring some domain knowlede by reading tweepy's documentation regarding twitter entity elements, it can be concluded that

In [7]:
tweet_imgs.nunique()

tweet_id    2075
jpg_url     2009
img_num        4
p1           378
p1_conf     2006
p1_dog         2
p2           405
p2_conf     2004
p2_dog         2
p3           408
p3_conf     2006
p3_dog         2
dtype: int64

In [9]:
tweet_imgs.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1343,759047813560868866,https://pbs.twimg.com/media/Coit84_VYAEMtLi.jpg,1,Labrador_retriever,0.778546,True,bathing_cap,0.154254,False,golden_retriever,0.024972,True
1922,856543823941562368,https://pbs.twimg.com/media/C-MOEDCXYAEjp7o.jpg,1,Boston_bull,0.306910,True,Siamese_cat,0.191218,False,Chihuahua,0.189288,True
264,670797304698376195,https://pbs.twimg.com/media/CU8mlhoVAAAteS5.jpg,1,Pembroke,0.472197,True,beagle,0.090938,True,German_shepherd,0.064366,True
1303,753026973505581056,https://pbs.twimg.com/media/CnNKCKKWEAASCMI.jpg,3,Pembroke,0.868511,True,Cardigan,0.103708,True,Shetland_sheepdog,0.018142,True
1504,785170936622350336,https://pbs.twimg.com/media/CuV8yfxXEAAUlye.jpg,2,seat_belt,0.891193,False,Eskimo_dog,0.027494,True,Samoyed,0.019530,True

In [11]:
wrd_tweets.to_csv('tweetsfromjson.csv')